:root {
  /* typography */
  --regular: 400;
  --bold: 700;

  /* default colors */
  --yellow: #fda214;
  --light-yellow: #ffb84a;
  --light-blue: #bcced9;
  --dark-blue: #304859;
  --black: #152938;
  --light-grey: #f2f2f2;
  --medium-grey: #dfe7ec;
  --dark-grey: #7191a5;
  --medium-blue: #6395b8;
  --white: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: var(--bold);
  font-style: normal;
  font-size: 1em; /* 16px */
  line-height: 1;
  color: var(--dark-grey);
  background-color: var(--black);
  height: 100vh;
  margin: 0;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--bold);
  line-height: 1;
  margin: 0;
}
p {
  font-weight: var(--bold);
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
.button {
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--bold);
  padding: 0;
  border: 0;
  width: 100%;
}
.button--primary {
  color: var(--white);
  background-color: var(--yellow);
  font-size: 1.25rem;
  border-radius: 2.188rem;
  height: 3.25rem;
  width: auto;
  padding: 0 1.375rem;
  &:hover {
    background-color: var(--light-yellow);
  }
}
.button--secondary {
  color: var(--dark-blue);
  background-color: var(--medium-grey);
  font-size: 1.25rem;
  border-radius: 2.188rem;
  height: 3.25rem;
  width: auto;
  padding: 0 1.375rem;
  &:hover {
    color: var(--white);
    background-color: var(--medium-blue);
  }
}
.button--menu {
  color: var(--white);
  background-color: var(--light-blue);
  font-size: 1.625rem;
  border-radius: 2.188rem;
  height: 3.25rem;
  &:hover {
    background-color: var(--medium-blue);
  }
  &.selected {
    background-color: var(--dark-blue);
  }
}
.button--menu-big {
  color: var(--white);
  background-color: var(--yellow);
  font-size: 2rem;
  height: 4.375rem;
  border-radius: 2.188rem;
  &:hover {
    background-color: var(--light-yellow);
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 85rem;
  padding: 0 1.75rem;
  margin: 0 auto;
  @media (min-width: 576px) {
    padding: 0 2.5rem;
  }
}

.settings {
  width: 40.875rem;
}
.settings h1 {
  font-size: 2.5rem;
  color: var(--white);
  text-align: center;
  margin-bottom: 4.688rem;
}
.settings__panel {
  background-color: var(--white);
  padding: 3.625rem;
  border-radius: 1.25rem;
}
.settings__label {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
.settings__container {
  margin-bottom: 2.25rem;
}
.settings__container--2col {
  display: flex;
  gap: 1.75rem;
}
.settings__container--4col {
  display: flex;
  gap: 1.25rem;
}

.start {
  width: 69.375rem;
}
.start h1 {
  font-size: 2.5rem;
  color: var(--black);
  text-align: center;
  margin-bottom: 4.688rem;
}
.start__header {
  display: flex;
  justify-content: space-between;
}
.start__header .button--primary {
  margin-left: auto;
}
.start__header .button--secondary {
  margin-left: 0.938rem;
}
.start__main {
  display: flex;
  justify-content: center;
}
.start__board {
  display: grid;
}
.start__board--grid-4 {
  grid-template-columns: repeat(4, 4fr);
  width: 33.25rem;
  gap: 1.25rem;
}
.start__board--grid-6 {
  grid-template-columns: repeat(6, 6fr);
  width: 35.75rem;
  gap: 1rem;
}
.start__button {
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0;
  border: 0;
  font-size: 2.75rem;
  font-weight: var(--bold);
  color: var(--white);
  background-color: var(--dark-blue);
  &:hover {
    background-color: var(--medium-blue);
  }
  &.selected {
    background-color: var(--yellow);
  }
  &.complete {
    background-color: var(--light-blue);
  }
}
.start__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 6.375rem;
}
.start__footer--single-player {
  justify-content: center;
  gap: 1.875rem;
}
.start__player {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15.938rem;
  height: 4.5rem;
  padding: 1.375rem;
  background-color: var(--medium-grey);
  border-radius: 0.625rem;
  &.current {
    background-color: var(--yellow);
    .start__player-no,
    .start__player-score {
      color: var(--white);
    }
  }
  &.current::before {
    content: url('/assets/images/player-arrow.svg');
    position: absolute;
    top: -1.1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2.5rem;
    height: 1.188rem;
  }
  &.current::after {
    content: 'CURRENT TURN';
    color: var(--black);
    font-size: 0.813rem;
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 0.313rem;
  }
}
.start__player-no {
  font-size: 1.125rem;
  color: var(--dark-grey);
}
.start__player-score {
  font-size: 2rem;
  color: var(--dark-blue);
}
